@import "tailwindcss";
@source "../../src";

:root {
  --primary: #0396FF;
  --primary2: #6FC3FF;
  --secondary: #1F2933;
  --text: #FEFEFE;
  --text2: #DC3545;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-text2: var(--text2)
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
}