@import "tailwindcss";
@source "../../src";

:root {
  --primary: #0396FF;
  --primary2: #6FC3FF;
  --secondary: #1F2933;
  --text: #FEFEFE;
  --text3: #ADADAD;
  --border-color: #ADADAD4D;
  --border2: #E6E6E6;
  --danger: #DC3545;
  --danger-light: #F15D5F;
  --success: #28A745;
  --success-light: #07BEAA;
  --success-dark: #328394;
  --dark: #F6F8FB;
  --light: #F9FBFC;
  --custom-purple: #5470DE;
  --custom-yellow: #FFC246;
  --custom-yellow-dark: #FF9C23;

}

@theme inline {
  --color-primary: var(--primary);
  --border-primary: var(--primary);
  --color-primary2: var(--primary2);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);
  --color-border-color: var(--border-color);
  --color-border2: var(--border2);
  --color-text3: var(--text3);
  --color-success: var(--success);
  --color-success-light: var(--success-light);
  --color-success-dark: var(--success-dark);
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-custom-purple: var(--custom-purple);
  --color-custom-yellow: var(--custom-yellow);
  --color-custom-yellow-dark: var(--custom-yellow-dark);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);

}

.slick-next:before,
.slick-prev:before {
  opacity: 1;
  font-size: 0px !important;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  bottom: 20px !important;
  z-index: 20;
  gap: 8px !important;
}

/* flex-direction: row; */
.slick-dots li {
  position: unset;
  margin: 0px !important;
  width: 10px !important;
  height: 10px !important;
}

.slick-dots li button {
  background: #B8CAF2 !important;
  /* color: #242424 !important; */
  /* border: 1px solid #24242480 !important; */
  height: 10px !important;
  width: 10px !important;
  border-radius: 100px !important;
  cursor: pointer;
}

.slick-dots .slick-active button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100px !important;
  /* border: 1px solid #242424 !important; */
  background-color: #FEFEFE !important;
}

.slick-dots li button:before {
  display: none;
}

.slick-next {
  font-size: 0px;
  line-height: 0;
  top: 50%;
  width: auto;
  height: auto;
  transform: 0, -50%;
  cursor: pointer;
  border: none;
  outline: 0;
  color: #FEFEFE;
}


.react-datepicker {
  font-size: 12px !important;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  margin: 0 8px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 1.2rem !important;
  height: 1.2rem !important;
  line-height: 1.2rem !important;
}

.react-datepicker__month-container select {
  height: auto;
  padding: 4px;
}

.react-datepicker__triangle {
  display: none
}

.react-datepicker__close-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: auto !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.react-datepicker__close-icon::after {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: transparent !important;
  content: url('https://api.iconify.design/carbon/close-filled.svg') !important;
}

.react-datepicker-popper {
  z-index: 20;
}

.react-datepicker__children-container {
  width: 10.5rem !important;
}


.ldio-x2uulkbinbj>div {
  animation: ldio-x2uulkbinbj 1s infinite linear;
  transform-origin: 70.5px 70.5px;
}

.ldio-x2uulkbinbj>div div {
  position: absolute;
}

.ldio-x2uulkbinbj>div div:nth-child(1),
.ldio-x2uulkbinbj>div div:nth-child(2) {
  width: 115.61999999999999px;
  height: 115.61999999999999px;
  border: 16.919999999999998px solid;
  border-radius: 50%;
  border-color: transparent #090B27 #090B27 #090B27;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 70.5px 70.5px;
}

.ldio-x2uulkbinbj>div div:nth-child(1) {
  transform: rotate(45deg) translate(12.69px, 12.69px);
}

.ldio-x2uulkbinbj>div div:nth-child(2) {
  transform: rotate(0deg) translate(12.69px, 12.69px);
  ;
}

.ldio-x2uulkbinbj>div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 16.919999999999998px solid;
  border-color: transparent transparent transparent #090B27;
  transform: translate(70.5px, 4.2299999999999995px);
}

.loadingio-spinner-reload-nq4q5u6dq7r {
  width: 141px;
  height: 141px;
  display: inline-block;
  overflow: hidden;
}

.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}

:disabled {
  @apply pointer-events-none
}

.table-class {
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 20px !important;
  overflow: hidden;
}

th {
  font-size: 14px;
  font-weight: 600;
  color: #1F2933;
  text-align: start;
  padding: 20px;
  background-color: #F6F8FB;
}

td {
  font-size: 14px;
  font-weight: 400;
  color: #1F2933;
  text-align: start;
  padding: 20px;
  border-top: 1px solid #E6E6E6;
  background-color: white;
}